<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
      integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
      crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/htmx.org@1.9.8"
      integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
      crossorigin="anonymous"></script>

    <script>
      let url1 = "{{url_for('static', filename='node_1.jpg')}}", 
        count1 = 0;
      let url2 = "{{url_for('static', filename='node_2.jpg')}}", 
        count2 = 0;
      let url3 = "{{url_for('static', filename='node_3.jpg')}}", 
        count3 = 0;
      let url4 = "{{url_for('static', filename='node_4.jpg')}}", 
        count4 = 0;
      setInterval(function() {
          document.getElementById('node1').src = url1 + '?cnt=' + count1++;
          document.getElementById('node2').src = url2 + '?cnt=' + count2++;
          document.getElementById('node3').src = url3 + '?cnt=' + count3++;
          document.getElementById('node4').src = url4 + '?cnt=' + count4++;
      }, 1000);
    </script>

    <title>Substation Monitoring Robot - Nodes</title>
  </head>
  <body>

    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-light bg-primary justify-content-center">
      <a class="navbar-brand text-white-50 font-weight-bold" href="/">Home</a>
      <a class="navbar-brand text-white font-weight-bold" href="/nodes">Nodes</a>
    </nav>

    <!-- Nodes Page -->
    <div class="container mt-4" id="nodesPage">
      <h1 class="text-center">Nodes</h1>
      <div class="row justify-content-center">
        <!-- Node 1 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{url_for('static', filename='node_1.jpg')}}"
              alt="Node 1 Image"
              id="node1">
            <div class="card-body">
              <h3 class="card-title">Node 1</h5>
              <!-- Display data for Node 1 -->
              <p class="card-header">Temperature: <span id="node1Temp"
                  class="text-warning font-weight-bold form-control-lg"
                  hx-get="/node_temp?node=1" hx-trigger="load, every 2s">--</span></p>
              <p class="card-header">Status: <span id="node1Status"
                  class="text-info font-weight-bold form-control-lg"
                  hx-get="/node_status?node=1" hx-trigger="load, every 3s">--</span></p>
              <p class="card-header">Last Checked: <span id="node1Time"
                  class="text-secondary font-weight-bold form-control-lg"
                  hx-get="/node_checked?node=1" hx-trigger="load, every 30s">--</span></p>
            </div>
          </div>
        </div>

        <!-- Node 2 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{url_for('static', filename='node_2.jpg')}}"
              alt="Node 2 Image"
              id="node2">
            <div class="card-body">
              <h3 class="card-title">Node 2</h5>
              <!-- Display data for Node 2 -->
              <p class="card-header">Temperature: <span id="node2Temp"
                  class="text-warning font-weight-bold form-control-lg"
                  hx-get="/node_temp?node=2" hx-trigger="load, every 2s">--</span></p>
              <p class="card-header">Status: <span id="node2Status"
                  class="text-info font-weight-bold form-control-lg"
                  hx-get="/node_status?node=2" hx-trigger="load, every 3s">--</span></p>
              <p class="card-header">Last Checked: <span id="node1Time"
                  class="text-secondary font-weight-bold form-control-lg"
                  hx-get="/node_checked?node=2" hx-trigger="load, every 30s">--</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">

        <!-- Node 3 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{url_for('static', filename='node_3.jpg')}}"
              alt="Node 3 Image"
              id="node3">
            <div class="card-body">
              <h3 class="card-title">Node 3</h5>
              <!-- Display data for Node 3 -->
              <p class="card-header">Temperature: <span id="node3Temp"
                  class="text-warning font-weight-bold form-control-lg"
                  hx-get="/node_temp?node=3" hx-trigger="load, every 2s">--</span></p>
              <p class="card-header">Status: <span id="node3Status"
                  class="text-info font-weight-bold form-control-lg"
                  hx-get="/node_status?node=3" hx-trigger="load, every 3s">--</span></p>
              <p class="card-header">Last Checked: <span id="node1Time"
                  class="text-secondary font-weight-bold form-control-lg"
                  hx-get="/node_checked?node=3" hx-trigger="load, every 30s">--</span></p>
            </div>
          </div>
        </div>

        <!-- Node 4 -->
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{url_for('static', filename='node_4.jpg')}}"
              alt="Node 4 Image"
              id="node4">
            <div class="card-body">
              <h3 class="card-title">Node 4</h5>
              <!-- Display data for Node 4 -->
              <p class="card-header">Temperature: <span id="node4Temp"
                  class="text-warning font-weight-bold form-control-lg"
                  hx-get="/node_temp?node=4" hx-trigger="load, 2s">--</span></p>
              <p class="card-header">Status: <span id="node4Status"
                  class="text-info font-weight-bold form-control-lg"
                  hx-get="/node_status?node=4" hx-trigger="load, every 3s">--</span></p>
              <p class="card-header">Last Checked: <span id="node1Time"
                  class="text-secondary font-weight-bold form-control-lg"
                  hx-get="/node_checked?node=4" hx-trigger="load, every 30s">--</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
