<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Server</title>
    </head>
  <body>
    <h2>Thermal Camera Test Server</h2>
    <p id="maxTemp">Maximum temperature detected is: </p>
    <h3><b> <%= maxTemp%> </b></h3>
  </body>
</html>